body {
    margin: 0;
    padding: 0;
  }
  .full-width-card {
    width: 100%;
  }
  .navbar {
    background-color: #343a40; /* Dark background color */
  }

  .navbar-brand {
    color: #ffffff; /* White text color for the brand */
  }

  .navbar-nav .nav-link {
    color: #ffffff; /* White text color for the links */
    padding-bottom: 8px; /* Add padding to the bottom of each link */
    border-bottom: 2px solid transparent; /* Add a transparent border initially */
  }

  .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #ffffff; /* Change border color on hover */
  }